<launch>

	<include file="$(find rplidar_ros)/launch/rplidar.launch" />
	<include file="$(find rplidar_ros)/launch/hectormapping.launch" />
	<node name="start" pkg="bot" type="start.py" />
	<node name="driver" pkg="bot" type="driver.py" />
	<node name="encoder" pkg="bot" type="encoder.py" />
	<node name="speedcontroler" pkg="bot" type="speedcontroler" />
    <node name="midlevel" pkg="bot" type="midlevel.py" />
    <node name="linesensor" pkg="bot" type="linesensor.py" />
	<node name="referenceframe" pkg="bot" type="referenceframe.py" />
    <node name="opponent" pkg="bot" type="opponent" />
    <node name="test_param" pkg="bot" type="test_param" output="screen"> <!-- ici normalement fsm_forward_domo_jenesaispasquoideplus -->
	<param name="isTeamOrange" value=1 />
	</node>
</launch>